body {
    font-family: 'Open Sans', sans-serif;
    margin: 0 0 55px 0;
    width: 100%;
    letter-spacing: 0.05em;
}

.nav {
    display: flex;
    height: 50px;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #333;
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.link {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    margin-right: 20px;
}

.navText {
    display: inline-block;
    padding: 10px;
}

#myMenu .nav .link:hover {
    background-color: #555555;
}


.PageTitle {
    position: relative;
    top: 40px;
    text-align: center;
    font-size: 70px;
    color: GREEN;
}

.Slogan {
    position: relative;
    top: 50px;
    text-align: center;
    font-size: large;
    color: #907163;
}

.searchBar {
    position: relative;
    top: 50px;
    text-align: center;
}

.libraryTitle {
    top: 100px;
    text-align: center;
    font-size: 50px;
    color: GREEN;
}

.sPayment {
    position: absolute;
    top: 150px;
    left: 240px;
    width: 600px;
    height: 350px;
    border: 2px solid red;
}

.checkoutDetails {
    position: absolute;
    top: 50px;
    left: 950px;
    width: 250px;
    height: 550px;
    border: 2px solid #004daa;
}

.titleRegister {
    text-align: center;
    font-size: 50px;
    color: GREEN;
}

.registerBox {
    position: absolute;
    top: 150px;
    left: 350px;
    width: 600px;
    height: 450px;
    border: 2px solid red;
}

.contactTitle {
    text-align: center;
    font-size: 50px;
    color: GREEN;
}

.contactBox {
    position: absolute;
    top: 150px;
    left: 250px;
    width: 800px;
    height: 450px;
    border: 2px solid red;
}
