body {
    font-family: 'Open Sans', sans-serif;
    margin: 0 0 55px 0;
    width: 100%;
    letter-spacing: 0.05em;
}

.dropdown {
    position: absolute;
    margin-top: 10px;
    float: left;
    width: 100%;
    height: 100%;
    background-color: #000000;
    padding: 50 px;
    width: 17%;
    bottom: 0px;
}

.Logo {
    position: relative;
    margin-top: 20px;
    left: 31px;
    height: 150px;
    width: 150px;
}

.link {
    display: block;
    width: 60px;
}

#linkIndex {
    position: relative;
    margin-top: 20px;
    background-color: #00000;
    color: green;
    padding: 14px 25px;
    width: 76%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

    #linkIndex:hover, #linkindex:active {
        background-color: white;
    }

#linkLibrary {
    position: relative;
    margin-top: 20px;
    background-color: #00000;
    color: green;
    padding: 14px 25px;
    width: 76%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

    #linkLibrary:hover, #linkLibrary:active {
        background-color: white;
    }

#linkCheckout {
    position: relative;
    margin-top: 20px;
    background-color: #000000;
    color: Green;
    padding: 14px 25px;
    width: 76%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

    #linkCheckout:hover, #linkCheckout:active {
        background-color: white;
    }

#linkLog-In {
    position: relative;
    margin-top: 20px;
    background-color: #000000;
    color: Green;
    padding: 14px 25px;
    width: 76%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

    #linkLog-In:hover, #linkLog-In:active {
        background-color: white;
    }

#linkContact-Us {
    position: relative;
    margin-top: 20px;
    background-color: #000000;
    color: Green;
    padding: 14px 25px;
    width: 76%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

    #linkContact-Us:hover, #linkContact-Us:active {
        background-color: white;
    }

.PageTitle {
    position: relative;
    top: 40px;
    text-align: center;
    font-size: 70px;
    color: GREEN;
}

.Slogan {
    position: relative;
    top: 50px;
    text-align: center;
    font-size: large;
    color: #907163;
}

.searchBar {
    position: relative;
    top: 50px;
    text-align: center;
}

.libraryTitle {
    top: 100px;
    text-align: center;
    font-size: 50px;
    color: GREEN;
}

.sPayment {
    position: absolute;
    top: 150px;
    left: 240px;
    width: 600px;
    height: 350px;
    border: 2px solid red;
}

.checkoutDetails {
    position: absolute;
    top: 50px;
    left: 950px;
    width: 250px;
    height: 550px;
    border: 2px solid #004daa;
}

.titleRegister {
    text-align: center;
    font-size: 50px;
    color: GREEN;
}

.registerBox {
    position: absolute;
    top: 150px;
    left: 350px;
    width: 600px;
    height: 450px;
    border: 2px solid red;
}

.contactTitle {
    text-align: center;
    font-size: 50px;
    color: GREEN;
}

.contactBox {
    position: absolute;
    top: 150px;
    left: 250px;
    width: 800px;
    height: 450px;
    border: 2px solid red;
}
