<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div>
        @RenderBody()
        <header>
            <div id="myMenu" class="dropdown border-botttom mb-3" >
            <nav class="nav">
               
                <a class="link" asp-page="/Index" class="navLink">
                    <span class="navText">Index</span>
                </a>

                <a class="link" asp-page="/Menu/Index" class="navLink">
                    <span class="navText">Library</span>
                </a>

                <a class="link" asp-page="/Checkout" class="navLink">
                    <span class="navText">Checkout</span>
                </a>

                <a class="link" asp-page="/Registration" class="navlink">
                    <span class="navText">Log-In</span>
                </a>

                <a class="link" asp-page="/Contact" class="navlink">
                    <span class="navText">Contact Us</span>
                </a>
            </nav>
        </div>
            @RenderSection("Scripts", required: false)

        </header>
        
        
    </div>
</body>
</html>
