<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div>
        @RenderBody()
        <div id="myMenu" class="dropdown">
            <nav class="nav">
                <img class="Logo" src="Img/Alpha.png" alt="Logo" width="100" height="100" />
               
                <a class="link" id="linkIndex" asp-page="/Index" class="navLink">
                    <span class="navText">Index</span>
                </a>

                <a class="link" id=linkLibrary asp-page="/Menu" class="navLink">
                    <span class="navText">Library</span>
                </a>

                <a class="link" id="linkCheckout" asp-page="/Checkout" class="navLink">
                    <span class="navText">Checkout</span>
                </a>

                <a class="link" id="linkLog-In" asp-page="/Registration" class="navlink">
                    <span class="navText">Log-In</span>
                </a>

                <a class="link" id="linkContact-Us" asp-page="/Contact" class="navlink">
                    <span class="navText">Contact Us</span>
                </a>
            </nav>
        </div>     
        
    </div>
</body>
</html>
