@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">

    <h1 class="PageTitle">Online Book Store</h1>
    <h4 class="Slogan">Search through a vast Online Library filled with multiple award winning books</h4>
    
   
</div>
